<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
  
  <update id="updateStep">
  	update board set b_step = b_step +1 where b_ref=#{b_ref} and b_step > #{b_step}
  </update>
  
  <select id="totBoard" resultType="java.lang.Integer">
  	select count(*) from board
  </select>

  <update id="update">
  	update board set title=#{title},content=#{content},fname=#{fname},fsize=#{fsize} where no=#{no} and pwd=#{pwd}
  </update>

  <delete id="delete">
  	delete board where no=#{no} and pwd=#{pwd}  
  </delete>
  
  <select id="nextNo" resultType="java.lang.Integer">
  	select nvl(max(no),0)+1 from board
  </select>
  
  
  <insert id="insert">
  	insert into board values(#{no},#{writer},#{pwd},#{title},#{content},#{ip},sysdate,0,#{fname},#{fsize},#{b_ref},#{b_step},#{b_level})
  </insert>

  <select id="findAll" resultType="boardVo">
    select no,writer,pwd,title,content,ip,regdate,hit,fname,fsize,b_ref,b_step,b_level from (select rownum num, no,writer,pwd,title,content,ip,regdate,hit,fname,fsize,b_ref,b_step,b_level from 
	(select * from board order by b_ref desc,b_step)) 
	where num between #{start} and #{end}
  </select>
  
  <select id="getBoard" resultType="boardVo">
  	select * from board where no=#{no}
  </select>
</mapper>