<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emp">

  <select id="searchSubordinate" resultType="java.util.HashMap">
  	select e.empno,e.ename,e.deptno,dname,loc 
  	from emp e, emp m, dept d 
  	where e.mgr = m.empno and 
  	e.deptno = d.deptno  
  	<if test="empno != null">
  		and m.empno = #{empno}
  	</if>
  </select>

  
  <select id="searchEmp" resultType="searchEmp">
    select empno,ename,sal,emp.deptno,dname,loc from emp, dept where emp.deptno=dept.deptno 
    <if test="deptno != null">
       and dept.deptno=#{deptno}
  	</if>
    
  </select>
</mapper>