<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customer">  
  
  <delete id="delete">
  	delete customer where no=#{no}
  </delete>
  
  <update id="update">
  	update customer set name=#{name},email=#{email},phone=#{phone} where no=#{no}
  </update>
  
  <insert id="insert">
  	insert into customer values(seq_customer.nextval,#{name},#{email},#{phone},1000)
  </insert>
	
  <select id="findAll" resultType="customerVo">
  	select * from customer
  </select>
</mapper>